<!DOCTYPE html>
<html>
<head>

  <% content_for :title do %>
  <title>Sign in | Internship Program</title>
  <% end %>

  <style type="text/css">

  .navbar-pages {
    display: none;
  } 

</style>

</head>

<body class="login">
  <div align="center">
    <div class="tile">
      <div class="tile-header">
        <h2>SIGN IN</h2>
      </div>

      <div class="tile-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field email-input">
          <%= f.text_field :login, placeholder: "Enter id number or email address", class:"form-control" %>
        </div>

        <div class="field">
          <span class="glyphicon glyphicon-eye-close" id="code-status"></span>
          <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password . . ." %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class:"login-submit-btn btn btn-default" %>
        </div>
        Don't you have an account?
        <%= render "devise/shared/links" %>
        <% end %>
      </div>


<!-- <p>Don't have an account? <a class="btn btn-info" href="users/sign_up" style="border: none; background-color: none; text-decoration: underline;">Register</a></p>
-->

<script type="text/javascript">
  $('#code-status').on({
    click: function(){
      if ( $('#user_password').attr('type') == "password") {
        $('#user_password').attr('type', 'text')
        $('#code-status').removeClass('glyphicon glyphicon-eye-close').addClass('glyphicon glyphicon-eye-open')
      } else {
        $('#user_password').attr('type', 'password')
        $('#code-status').removeClass('glyphicon glyphicon-eye-open').addClass('glyphicon glyphicon-eye-close')
      }
    }
  })
</script>

</body>
</html>



