<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <details>
    <summary>Personal Information <span class="glyphicon glyphicon-hand-down"></span></summary>
    <div>
      <p>
        First Name: <%= @application.user.first_name %> <br>
        Last Name: <%= @application.user.last_name %><br>
        Email Address: <%= @application.user.email %> <br>
        National ID: <%= @application.user.id_number %>
      </p>
    </div>
  </details>
    <%= form_for @application do |f| %>
      <fieldset>
        <legend>Location</legend>
        <%= f.label :district_id %>
        <%= f.collection_select :district_id, District.order(:name), :id, :name, include_blank: true %>
        <div id="sector-section"> 
         <%= f.label :sector_id %>
         <%= f.grouped_collection_select :sector_id, District.order(:name), :sectors, :name, :id, :name, include_blank: true %>
       </div>
      </fieldset><br>
      <fieldset>
        <legend>Sensitive</legend>
        <%= f.label :gender %><br>
        <%= f.radio_button :is_female, true %> <%= f.label :is_female, "Female" %>
        <%= f.radio_button :is_female, false %> <%= f.label :is_female, "Male" %><br>

        <%= f.label :phone_number %>
        <%= f.number_field :phone_number %>
        <%= f.label :field_of_study %>
        <%= f.select :field_of_study_id, FieldOfStudy.all.collect {|education| [education.name, education.id]}, include_blank: "Select option" %>
        <%= f.label :bank_name %>
        <%= f.select :bank_id, Bank.all.collect {|bank| [bank.name, bank.id]}, include_blank: "Select option" %>
        <%= f.label :bank_number %>
        <%= f.number_field :bank_number %>
      </fieldset><br>

      <%= f.submit "Submit Application" %>
    <% end %>
</body>
</html>