<% content_for :title do %>
    <title>Intern Dashboard | Internship Program</title>
<% end %>
<div class="container">
    <h1>Click the filter icon <small>(<i class="glyphicon glyphicon-filter"></i>)</small></h1>
      <div class="row">
      <div class="col-md">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Registered Interns</h3>
            <div class="pull-right">
              <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                <i class="glyphicon glyphicon-filter"></i>
              </span>
            </div>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
          </div>
          <table class="table table-hover" id="dev-table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Id Number</th>
                <th>Telephone</th>
                <th>Gender</th>
                <th>Field of Studies</th>
                <th>District</th>
                <th>Sector</th>
                <th>Internship Placement</th>
              
              </tr>
            </thead>
            <tbody>
              <% @users.each_with_index do |user, count| %>
              <tr>
                <td><%= count + 1 %></td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.id_number %></td>
                <td><%= user.tel %></td>
                <td><%= user.gender %></td>
                <td><%= user.field_of_studies %></td>
                <td><%= user.district %></td>
                <td><%= user.sector %></td>
                <% if user.internship_placement == false %>
                <td><a href="/users?internship_placement=<%= user.id %>"><%= user.internship_placement %></a></td>
                <% else user.internship_placement %>
                <td><%= user.internship_placement %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>