<!DOCTYPE html>
<html>
<head>
  <% content_for :title do %>
    <title> <%= @user.last_name %> Profile| Internship Program</title>
  <% end %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <div class="profileMessage">
    <p>
      Hi <%= @user.last_name %> <br><br>
      This is your profile, where you can manage your personal information as well as communicate with <strong>RYAF Administration</strong>. It will be our pleasure to hear from you anytime. Remember we are here for you, we need to hear from as much as possible so that we can enhance the services we provide. Therefore, your input is to share with us your experience, worries or just tell us how you are personally developing. 
    </p><br>
    <p>
      <strong>PS</strong>: There is a <a href="<%= new_survey_path %>">survey</a> designed for at the beginning of each month that let us know you about internship you are taking. It should be details so we can have enough information and be able to help you throughout. However, the survey is monthly thing, in meanwhile you can reach out to us by clicking <em>Send Message to RYAF</em>. <br><br> <em>Please Scroll down to see your profile information</em>
    </p>
  </div><br>
<div class="container">
  <div class="row">
  <ul id="accordion" class="accordion">
    <li>
<div class="col col_4 iamgurdeep-pic">
<img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src=https://www.news.uct.ac.za/cache/images/userfiles/images/news/2017/800x0/normal/2017-08-16_Socio_environmental.jpg>
<!-- <div class="edit-pic"> 
<a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/gurdeeposahan/" target="_blank" class="fa fa-instagram"></a>
<a href="https://twitter.com/gurdeeposahan1" target="_blank" class="fa fa-twitter"></a>
<a href="https://plus.google.com/u/0/105032594920038016998" target="_blank" class="fa fa-google"></a>



</div> -->
<div class="username">
    <h2> Fullname: <%="#{@user.first_name} #{@user.last_name}" %><small><i class="fa fa-map-marker"></i> Rwandan</small></h2>
    <p><i class="fa fa-briefcase"></i> Field of studies: <%= @user.field_of_studies %></p>
    
    <!-- <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" class="btn-o"> <i class="fa fa-user-plus"></i> Add Friend </a>
    <a href="https://www.instagram.com/gurdeeposahan/" target="_blank"  class="btn-o"> <i class="fa fa-plus"></i> Follow </a> -->
    
    
     <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-v pull-right"></span></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="#"> Update Profile <i class="fa fa-hand-o-up"></i></a></li>
            
            <li><a href="#">Report <i class="fa fa-bug"></i></a></li>
        
          </ul>
        </li>
      </ul>
   
</div>
    
</div>
        
    </li>
    <li class="default open">
      <div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><a href="#">Address : <%= "#{@user.district}, #{@user.sector}, #{@user.cell}" %></a></li>
        <li><a href="mailto:gurdeepjawaddi94@gmail.com">Email : <%= @user.email %></a></li>
        <li><a href="#">Phone : <%= @user.tel %></a></li>
      </ul>
    </li>
    <li class="default open">
      <div class="link"><i class="fa fa-code"></i>Completed Surveys<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><a href="#"><span class="tags">JanuarySurvey</span> <span class="tags">FebruarySurvey</span> <span class="tags">MarchSurvey</span> <span class="tags">AprilSurvey</span> 
                <!-- <span class="tags">Graphic Design</span> <span class="tags">HTML</span> <span class="tags">HTML5</span> <span class="tags">JavaScript</span> 
                <span class="tags">Twitter bootstrap</span> <span class="tags">bootstrap</span> <span class="tags">User Interface Design</span> <span class="tags">Wordpress</span></li></a> -->
      <!-- </ul> -->
    </li>
   
   
  </ul>
  </div>
    
    
    
 
    
</div>

</body>
</html>





  