<!DOCTYPE html>
<html>
<head>
  <% content_for :title do %>
    <title>Employers Main page| Internship Program</title>
<% end %>
<style type="text/css">
  .col-sm {
    width: 25%;
    border: 5px solid green;
    padding: 10px;
    margin: 25px;
    display: inline-grid;
  }

  header .tablink {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    margin-left: 100px;
  }

  .tablink:hover {
    background-color: #824229;
  }
  .myBox a {
    text-decoration: none;
    color: inherit;
    font: inherit;
    font-weight: inherit;
  }

  .myBox:hover .col-sm {
    background-color: rgb(102, 153, 255, 0.8);
  }

</style>
</head>
<body>
  <header>
    <button class="tablink" onclick="openCity('Pending', this, 'green')">Pending Request</button>
    <button class="tablink" onclick="openCity('Confirmed', this, 'blue')">Confirmed Request</button>
  </header>
  <main>
    <section id="Pending" class="tabcontent">
      
   <div class="container">
     <div class="row">

     <h1>Pending Employer Requests</h1>

      <% @pending_employer_requests.each_slice(3) do |pending_requests| %>
      <div class="row ">
        
      <% pending_requests.each do |pending_request| %>
        <span class="myBox">
          <a href="/applications?employer_id=<%= pending_request.id %>" class="col-sm">
            <p>
              <h3>Company: <%= "#{pending_request.company_name}" %> </h3>
               Employer Names: <%="#{ pending_request.first_name } #{pending_request.last_name}"%> <br>
               <% if pending_request.district.present? %>
               Location: <%= "#{pending_request.district.name}, #{pending_request.sector.name}" %><br>
               <% end %>
               Value Chain: <%= pending_request.chain_value.name %><br>
               Interns Requested: <%= pending_request.number_of_interns %>

            </p>
          </a>
        </span>
        <% end %>
      </div>
    <% end %>
     </div>
  </div>
    </section>
    <section id="Confirmed" class="tabcontent">
         <div class="container">
     <div class="row">

     <h1>Confirmed Employer Requests</h1>

      <% @confirmed_employer_requests.each_slice(3) do |confrimed_requests| %>
      <div class="row ">
        
      <% confirmed_requests.each do |confirmed_request| %>
        <div class="col-sm">
          <p>
            <h3>Company: <%= "#{confirmed_request.company_name}" %> </h3>
             Employer Names: <%="#{ confirmed_request.first_name } #{confirmed_request.last_name}"%> <br>
             Location: <%= "#{confirmed_request.district}, #{confirmed_request.sector}" %><br>
             Value Chain: <%= confirmed_request.chain_value.name %><br>
             Interns Requested: <%= confirmed_request.number_of_interns %>

          </p>
        </div>
        <% end %>
      </div>
    <% end %>
     </div>
  </div>
    </section>
  </main>
    <script type="text/javascript">
      function openCity(cityName, elmnt, color) {
    // Hide all elements with class="tabcontent" by default */
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Remove the background color of all tablinks/buttons
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }

    // Show the specific tab content
    document.getElementById(cityName).style.display = "block";

    // Add the specific color to the button used to open the tab content
    elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

    </script>
</body>
</html>