<!DOCTYPE html>
<html>
<head>
  <% content_for :title do %>
    <title><%= @survey.name %> | Internship Program</title>
<% end %>
</head>
<body>
  <div style="margin-left: 30px;">
    <h2><%= @survey.name %></h2>
      <%= link_to "Back", surveys_path %>
    <p>
      <ol>
          <% @answers.each do |answer| %>
            <li><%= answer.question.title %></li>
              <%= answer.content %>
          <% end %>
      </ol>
    </p>
  </div>
</body>
</html>

