<div id="filterrific_results">
  <div>
    <%= page_entries_info applications %>
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>ID Card</th>
      <th>District</th>
      <th>Registered at</th>
    </tr>
    <% applications.each do |application| %>
    <tr>
      <td><%= application.user.first_name %></td>
      <td><%= application.user.id_number %></td>
      <td><%= application.district.name %></td>
      <td><%= application.created_at.strftime("%B %Y") %></td>
    </tr>
    <% end %>
  </table>
</div>

<%= will_paginate applications, renderer: BootstrapPagination::Rails %>