<!DOCTYPE html>
<html lang="en-US">
<head>
  <% content_for :title do %>
    <title>Admin main Dashboard</title>
  <% end %>
</head>
<body>
  <main>
    <!-- Section for filters -->
    <section>
      <div class="container-fuild" style="margin: 10px;">

   <div class="current-database">
   <p>
    <h4>Current Database</h4>
    <ul>
     <li>
      Graduates seeking for Internship: <%= @applicants.count %>
     </li>
     <li>
      Graduates with Internship: <%= @applicants.got_internship.count %>
     </li>
     <li>
      Graduate still Waiting for Internship: <%= @applicants.looking_internship.count %>
     </li>
     <li>
       Graduated Interns: <%= graduated_interns.size %>
     </li>
    </ul>
  </p>
  </div>

<h2>Advanced Filters:</h2>
<%= form_tag dashboards_path, :method => 'get' do  %>
  <%= label_tag :internship_placement %>
  <%= select_tag(:internship_placement , options_for_select([['All', ""],['Having Internship', true], ['Waiting Internship', false]]))%>
  <%= label_tag :field_of_study_id %>
  <%= collection_select :application, :field_of_study_id, FieldOfStudy.all, :id, :name, :prompt => true %>
  <%= label_tag :district_id %>
  <%= collection_select :application, :district_id, District.all, :id, :name, :prompt => true %>
  
  <span id="sector-section"> 
    <%= label_tag :sector_id %>
    <%= grouped_collection_select :application, :sector_id, District.all, :sectors, :name, :id, :name, include_blank: true%>
  </span>

  <br><br> <%= submit_tag "Look(filter)" %>

<% end %><br>
  <input type="button" class="btn btn-info" value="Reset Filter" onclick="location.href = '<%= root_url %>';">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>National ID</th>
        <th>Gender</th>
        <th>Bank Name</th>
        <th>Bank Number</th>
        <th>District</th>
        <th>Sector</th>
        <th>Field of Study</th>
      </tr>
    </thead>
  <% @applicants.each do |application| %>    
    <tbody>
      <tr>
        <td><%= application.user.first_name %></td>
        <td><%= application.user.last_name %></td>
        <td><%= application.phone_number %></td>
        <td><%= application.user.email %></td>
        <td><%= application.user.id_number %></td>
        <td><%= application.gender %></td>
        <td><%= application.bank.name %></td>
        <td><%= application.bank_number %></td>
        <td><%= application.district.name %></td>
        <td><%= application.sector.name %></td>
        <td><%= application.field_of_study.name %></td>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
    </section>

    <section>
      
    </section>

    <aside>
      
    </aside>
  </main>

</body>
</html>

<%#= will_paginate applications, renderer: BootstrapPagination::Rails %>