<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
      <%= content_for(:title) %>
    <% else %>
      <title>Internship Program</title>
    <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="#"> 

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-pages">
      
      <a class="navbar-brand" href="<%= root_url %>">RYAF Internship System</a>
      <% if current_user &&  current_user.admin == true %>
        <a class="navbar-brand" href="/admin">Admin</a>
        <a class="navbar-brand" href="<%= users_path %>">Users</a>
      <% end %>
    <div class="collapse navbar-collapse" id="myNavbar">
      
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a style="color:white;"  href="<%=signout_path%>"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        <%else%>
        <li><a href="<%new_user_session_path%>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% end %>
      </ul>
    </div> 
    </div>


  

    <%= yield %>
  </body>
</html>

