<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    .mynavbar {
      display: none;
    }
  </style>
</head>
<body class="signup">
  <div class="container">
    <div class="row">

      <section class="col-md-8 col-md-offset-2">
        <div style="box-shadow: 4px 5px 2px 1px #dadada;">
         <div class="register-title">      
          <a href="#" class="btn btn-default hvr-outline-in pull-right" style="margin-top: 20px; margin-right: 20px;">Sign In</a>
          <h1 align="center"><span class="fa fa-user-plus"></span>Register</h1>
        </div>
        <div class="wizard">
          <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">

              <li role="presentation" class="active">
                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Personal Information">
                  <span class="round-tab">
                    <i class="fa fa-user-plus"></i>
                  </span>
                </a>
              </li>

              <li role="presentation" class="disabled">
                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Residence Information">
                  <span class="round-tab">
                    <i class="fa fa-globe"></i>
                  </span>
                </a>
              </li>

              <li role="presentation" class="disabled">
                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="College & Major">
                  <span class="round-tab">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>

          <form role="form">
            <div class="tab-content">
              <div class="tab-pane active" role="tabpanel" id="step1">
                <div>          
                  <h2>Personal Information</h2>
                </div>      

                <div class="row">
                  <div class="col-md-4" style="display: inline;">
                    <input type="text" name="" class="form-control" placeholder="First Name ..." required>
                  </div>
                  <div class="col-md-4">
                    <input type="text" name="" class="form-control" placeholder="Last Name ..." required>
                  </div>
                  <div class="col-md-4">
                    <input type="text" name="" class="form-control" placeholder="ID No ..." required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">            
                    <input type="text" name="" class="form-control" placeholder="Email ..." required>
                  </div>

                  <div class="col-md-6">            
                    <input type="text" name="" class="form-control" placeholder="Phone ..." required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">            
                    <input type="password" name="" class="form-control" placeholder="Password ..." required>
                  </div>

                  <div class="col-md-6">            
                    <input type="password" name="" class="form-control" placeholder="Retype password ..." required>
                  </div>
                </div>

                <div class="col-md-10 col-md-offset-1">                      
                  <ul class="list-inline">
                    <li class="pull-right"><button type="button" class="btn btn-primary btn-info-full next-step hvr-icon-forward">Next</button></li>
                  </ul>
                </div>
              </div>

              <div class="tab-pane" role="tabpanel" id="step2">
                <div>
                  <div>
                    <h2>Residence Information</h2>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-md-6">          
                      <input type="text" name="" class="form-control" placeholder="Province ..." required>
                    </div>

                    <div class="col-md-6">
                      <input type="text" name="" class="form-control" placeholder="District ..." required>
                    </div>

                    <div class="col-md-6">
                      <input type="text" name="" class="form-control" placeholder="Sector ..." required>
                    </div>

                    <div class="col-md-6">
                      <input type="text" name="" class="form-control" placeholder="Cell ..." required>
                    </div>        
                  </div>
                  <div class="col-md-10 col-md-offset-1">                      
                    <ul class="list-inline">
                      <li class="pull-left"><button type="button" class="btn btn-default prev-step hvr-icon-back">Previous</button></li>
                      <li class="pull-right"><button type="button" class="btn btn-primary btn-info-full next-step hvr-icon-forward">Next</button></li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <div class="tab-pane" role="tabpanel" id="complete">
                <div>        
                  <div>
                    <h2>Education Information</h2>
                    <hr>
                  </div>

                  <div class="row">
                    <div class="col-md-12">                      
                      <div class="col-md-6">            
                        <input type="" name="" class="form-control" placeholder="Collge name ..." required>
                      </div>
                      <div class="col-md-6">            
                        <input type="" name="" class="form-control" placeholder="Major name ..." required>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 col-md-offset-1">                      
                    <ul class="list-inline">
                      <li class="pull-left"><button type="button" class="btn btn-default prev-step hvr-icon-back">Previous</button></li>
                      <li class="pull-right"><button type="button" class="btn btn-primary btn-info-full next-step hvr-outline-in">Submit</button></li>
                    </ul>
                  </div>
                </div>
              </div>




              <% content_for :title do %>
              <title>Register | Internship Program</title>
              <% end %>

              <h2>Register</h2>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="tab-pane active" role="tabpanel" id="step1">
                <div>          
                  <h2>Personal Information</h2>
                </div>      

                <div class="row">
                  <div class="col-md-4" style="display: inline;">
                    <input type="text" name="" class="form-control" placeholder="First Name ..." required>
                  </div>
                  <div class="col-md-4">
                    <input type="text" name="" class="form-control" placeholder="Last Name ..." required>
                  </div>
                  <div class="col-md-4">
                    <input type="text" name="" class="form-control" placeholder="ID No ..." required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">            
                    <input type="text" name="" class="form-control" placeholder="Email ..." required>
                  </div>

                  <div class="col-md-6">            
                    <input type="text" name="" class="form-control" placeholder="Phone ..." required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">            
                    <input type="password" name="" class="form-control" placeholder="Password ..." required>
                  </div>

                  <div class="col-md-6">            
                    <input type="password" name="" class="form-control" placeholder="Retype password ..." required>
                  </div>
                </div>

                <div class="col-md-10 col-md-offset-1">                      
                  <ul class="list-inline">
                    <li class="pull-right"><button type="button" class="btn btn-primary btn-info-full next-step hvr-icon-forward">Next</button></li>
                  </ul>
                </div>
              </div>


              <div class="row">
                <div class="col-md-4" style="display: inline;">
                  <input type="text" name="" class="form-control" placeholder="First Name ..." required>
                </div>
                <div class="col-md-4">
                  <input type="text" name="" class="form-control" placeholder="Last Name ..." required>
                </div>
                <div class="col-md-4">
                  <input type="text" name="" class="form-control" placeholder="ID No ..." required>

                  <div class="field">
                    <%= f.label :first_name %><br />
                    <%= f.text_field :first_name, autocomplete: "off", class:"form-control", placeholder:"First Name ..." %>
                  </div>

                  <div class="field">
                    <%= f.label :last_name %><br />
                    <%= f.text_field :last_name, autocomplete: "off", class:"form-control", placeholder:"Last Name" %>
                  </div>

                  <div class="field">
                    <%= f.label :id_number %><br />
                    <%= f.text_field :id_number, autocomplete: "off", class:"form-control", placeholder:"ID no ...." %>
                  </div>


                </div>
              </div>
              <div class="field">
                <%= f.label :tel %><br />
                <%= f.text_field :tel, autocomplete: "off", class:"form-control", placeholder:"Telephone ..." %>
              </div>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.text_field :email, autofocus: true, autocomplete: "off", class:"form-control", placeholder:"Email ..." %>
              </div>

              

              <div class="field">
                <%= f.label :gender %><br/>
                <%= f.radio_button :is_female, true %> <%= f.label :is_female, "Female" %><br/>
                <%= f.radio_button :is_female, false %> <%= f.label :is_female, "Male" %>
              </div>


              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password ..." %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Retype Password ..." %>
              </div>






              <div class="field">
                <%= f.label :district %><br />
                <%= f.text_field :district, autocomplete: "off", class:"form-control", placeholder:"District" %>
              </div>

              <div class="field">
                <%= f.label :sector %><br />
                <%= f.text_field :sector, autocomplete: "off", class:"form-control", placeholder:"Sector" %>
              </div>

              <div class="field">
                <%= f.label :cell %><br />
                <%= f.text_field :cell, autocomplete: "off", class:"form-control", placeholder:"Cell" %>
              </div>







              <div class="field">
                <%= f.label :college %><br />
                <%= f.text_field :college, autocomplete: "off", class:"form-control", placeholder:"College Name ...." %>
              </div>

              <div class="field">
                <%= f.label :field_of_studies %><br />
                <%= f.text_field :field_of_studies, autocomplete: "off", class:"form-control", placeholder:"Major Name ..." %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
              <% end %>

              <%= render "users/shared/links" %>



              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

</body>
</html>